#root {
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.text-decoration-none {
  text-decoration: none;
  color: inherit;
}

.text_center {
  text-align: center;
}

.active_link {
  background-color: rgba(0, 0, 0, 0.1) !important;
}
